Options -Indexes

<IfModule mod_rewrite.c>
  RewriteEngine on
  RewriteRule ^(.*)$ web/index.php/$1 [L,PT]
  RewriteCond %{REQUEST_URI} !^public
</IfModule>

# Deny accessing below extensions
<Files ~ "(.json|.lock|.git)">
Order allow,deny
Deny from all
</Files>

# Deny accessing dot files
RewriteRule (^\.|/\.) - [F]
